<h1>Splash#new</h1>
<p>Find me in app/views/splash/new.html.erb</p>


<script type="text/javascript">
	$.backstretch("http://farm5.static.flickr.com/4114/4741629812_1fcb4e01e9_o.jpg", {speed: 150});
</script>