<script type="text/javascript">
	$.backstretch("https://s3.amazonaws.com/mashtun/images/beer.jpg", {speed: 150});
</script>
<h1>Welcome to Mashtun</h1>
<p>
	We are transforming the craft beer industry. Mashtun will allow you to order craft beers from your local retailer that you can't currently buy in your area. We are launching soon and would love your input.
</p>
<h3>Sign up to receive updates</h3>
<%= render 'form' %>