<script type="text/javascript">
	$.backstretch("/home/wfj3/Aptana Studio 3 Workspace/mashtun/public/images/beer.jpg", {speed: 150});
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"></script>
<h1>New alpha</h1>

<%= render 'form' %>